.container {
    display: flex;
    gap: 15px;
    width: 1400px;
    margin: auto;
}

.container1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    margin: 20px 0;
}

.up {
    flex: 1;
    display: flex;
    gap: 15px;
}

.up_left {
    flex: 1.3;
    background-color: bisque;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.Store_name {
    font-size: 30px;
    font-weight: 700;
}

.Store_adress {
    color: gray;
}

.img_store {
    height: 122px;
    width: 214px;
}

.up_right {
    flex: 1.2;
    background-color: red;
    border-radius: 15px;
    padding: 30px;
}

.Store_feedback {
    display: flex;
    gap: 120px;
}

.cc {
    display: flex;
    gap: 20px;
    color: gray;
}

.time {
    display: flex;
    gap: 60px;
}

.time_title {
    font-weight: 600;
}

.down {
    flex: 1;
    display: flex;
    gap: 15px;
}

.down_left {
    background-color: aqua;
    flex: 1.3;
    border-radius: 15px;
    padding: 30px;
}

.down_right {
    flex: 1.2;
    background-color: beige;
    border-radius: 15px;
    padding: 30px;
}

.listcategory {
    display: flex;
    gap: 20px;

}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.img_category {
    width: 70px;
    height: 50px;
    border-radius: 10px;
}

.name_category {
    font-weight: 600;
}

.name_category_title {
    margin-top: 2000px;
    font-size: 30px;
    font-weight: 600;
}

.listproduct {
    display: flex;
    gap: 3%;
    margin-bottom: 100px;
}

.product {
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 231, 231);
    border-radius: 10px;
    align-items: center;
    width: 20%;
    padding: 10px 5px 15px 5px;
    height: 120px;
}

.img_product {
    width: 99%;
    height: 85%;

}

.name_product {
    padding-top: 10px;
    font-size: 20px;
    font-weight: 600;

}